1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
* 
'hello'
-87.8
- 
/ 
+	
6 

Ans –	Operators: +, -, /, *
        Expressions: hello, -87.8, 6

2. What is the difference between string and variable?

Ans -	A string is an information which we store in variable. We can use double, or single quote on string. And variable is a store of information. 

3. Describe three different data types.

Ans -	The three data types are:
        Int: It represent whole numbers. Ex- 89
        Float: It represent decimals. Ex- 5.9
        Complex: It has real and imaginary part. Ex- 1+2j

4. What is an expression made up of? What do all expressions do?

Ans -	An expression is a combination of values, variables, operators, and calls to functions. Expressions need to be evaluated. If you ask Python         to print an expression, the interpreter evaluates the expression and displays the result. Ex- x = x + 20

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Ans -	A statement is just a standalone unit of execution and doesn't return anything.
        An expression is a combination of values and functions that are combined and interpreted by the compiler to create a new value.
        Ex-	x = 10 (it’s a statement)
            x = x + 12 (it’s an expression)

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

Ans -	If we run bacon+1 without assigning to bacon then it will give 22. But if we assign bacon+1 to bacon then it will give 23.

In [5]:
bacon = 22
bacon+1
print (bacon) #Case 1

22

In [6]:
bacon = 22
bacon=bacon+1
print (bacon) #Case 2

23

7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [7]:
'spam' + 'spamspam' # string concatenation

'spamspamspam'

In [8]:
'spam' * 3 # string multiplication

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

Ans - As per python,Variable names cannot begin with a number. The python rules for naming a variable are :-

Variable name must start with a letter or the underscore character.
Variable name cannot start with a number.
Variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, & _ ).
Variable names are case-sensitive (name, INEURON and ineuron are three different variables).
The reserved words(keywords) cannot be used naming the variable.

In [10]:
egg='Ineuron' 
 
print(egg)

Ineuron

In [11]:
100='hello'

print(100)

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (3536709429.py, line 1)

9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [12]:
# Examples:
print('int(10.0) -> ',int(10.0)) # int() function converts given input to int
print('float(10) -> ',float(10)) # float() function converts given input to float
print('str(10) -> ',str(10)) # str() function converts given input to string

int(10.0) ->  10
float(10) ->  10.0
str(10) ->  10

10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

Ans - Because it is treating 99 as an integer. And we know that concatenation only happen in string. Thatswhy we have to convert 99 into an string.

In [15]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [16]:
'I have eaten ' + '99' + ' burritos.' # 1st way

'I have eaten 99 burritos.'

In [17]:
'I have eaten ' + str(99) + ' burritos.' # 2nd way

'I have eaten 99 burritos.'